* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.slider {
    display: block;
    float: left;
    width: 100%;
    padding: 40px;
}
.slider-inner {
    display: block;
    float: left;
    position: relative;
    height: 15px;
    background-color: #D2D7D3;
    border: 2px solid #BDC3C7;
    border-radius: 4px;
}
.manipulator {
    display: block;
    position: absolute;
    top:-6px;
    left: 0;
    width: 13px;
    height: 23px;
    background-color: #6C7A89;
    border-radius: 4px;
    cursor: pointer;
    z-index: 1000;
}